<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VasudevKutumbhakam">
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AadharKyc.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AadharKyc.AadharKycActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoanFailedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoanSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ApplicationSubmittedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BankDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.VideoKycActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.KycActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.IdProofActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.IncomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.UserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CheckEligibilityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false" />
    </application>

</manifest>